@model PetStoreProject.ViewModels.BookServiceViewModel;

@{
    Layout = null;
    var workingTime = ViewData["WorkingTime"] as List<TimeOnly>;
}

<form id="booking-form">
    <input type="hidden" asp-for="CustomerId" />
    <input type="hidden" asp-for="ServiceOptionId" />
    <input type="hidden" asp-for="ServiceId" />
    <div class="row">
        <div class="col-md-6 form-group">
            <label asp-for="Name" class="form-label">Họ và Tên<em>*</em></label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="col-md-6 form-group">
            <label asp-for="Phone" class="form-label">Điện thoại<em>*</em></label>
            <input asp-for="Phone" class="form-control">
            <span asp-validation-for="Phone" class="text-danger"></span>
            @if (ViewBag.PhoneMess != null)
            {
                <span class="text-danger">@ViewBag.PhoneMess</span>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label asp-for="OrderDate" class="form-label">Ngày hẹn<em>*</em></label>
            <div class="input-group date" id="order-datepicker">
                <input asp-for="OrderDate" type="text" onchange="changeOrderDate()" class="form-control" />
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                </div>
            </div>
            <span asp-validation-for="OrderDate" class="text-danger"></span>
        </div>
        <div class="col-md-6 form-group">
            <label asp-for="OrderTime" class="form-label">Giờ hẹn<em>*</em></label>
            <select asp-for="OrderTime" class="form-select">
                @foreach (var time in workingTime)
                {
                    <option value="@time" selected="@(Model.OrderTime == time)">@time.ToString("HH:mm")</option>
                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label asp-for="ServiceName" class="form-label">Dịch vụ</label>
            <input asp-for="ServiceName" class="form-control" readonly>
        </div>
        <div class="col-md-6 form-group">
            <label asp-for="PetType" class="form-label">Loại thú cưng</label>
            <input asp-for="PetType" class="form-control" readonly>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label asp-for="Weight" class="form-label">Cân Nặng</label>
            <input asp-for="Weight" class="form-control" readonly>
        </div>
        <div class="col-md-6 form-group">
            <label asp-for="Price" class="form-label">Giá Dịch Vụ</label>
            <input asp-for="Price" class="form-control" readonly>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            <label asp-for="Message" class="form-label">Thông tin thêm</label>
            <textarea asp-for="Message" class="form-control"></textarea>
        </div>
    </div>
    <div class="text-center mt-3">
        <button type="submit" class="submit-btn">Đặt hẹn</button>
    </div>
    @if (ViewData["BookSuccess"] != null)
    {
        <div class="col-md-12 mt-3">
            <div class="alert alert-success alert-dismissible fade show rounded-2 mb-0">
                <span>@ViewData["BookSuccess"]</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        </div>
    }
</form>
