@using PetStoreProject.Areas.Admin.ViewModels;
@using PetStoreProject.ViewModels;

@{
    var serviceTypes = ViewData["ServiceTypes"] as List<string>;
    var workingTimes = ViewData["AllWorkingTime"] as List<WorkingTime>;
    var weights = ViewData["AllPetWeight"] as List<string>;
    var serviceOptions = ViewData["ListServiceOption"] as List<ServiceOptionViewModel>;
    var serviceDetail = ViewData["ServiceDetail"] as ServiceAdditionViewModel;
}

@section HeadOptional {
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" rel="stylesheet">
    <link href="~/areas/css/manage-service-style.css" rel="stylesheet" />
}

<div class="main-content-inner">
    <!-- main-content-wrap -->
    <div class="main-content-wrap">
        <div class="flex items-center flex-wrap justify-between gap20 mb-27">
            <h3>Cập nhật dịch vụ</h3>
        </div>
        <!-- form-add-product -->
        <form class="tf-section-2 form-add-product">
            <div class="wg-box">
                <input type="hidden" id="serviceId" value="@serviceDetail.ServiceId" />
                <fieldset class="name">
                    <div class="body-title mb-10">Tên dịch vụ <span class="tf-color-1">*</span></div>
                    <input id="service-name" type="text" value="@serviceDetail.Name" class="mb-10" placeholder="Nhập tên dịch vụ" tabindex="0" aria-required="true">
                    <span id="error-service-name" class="text-danger"></span>
                </fieldset>
                <div class="gap22 cols">
                    <fieldset class="category" style="position:relative">
                        <div class="body-title mb-10">Loại dịch vụ <span class="tf-color-1">*</span></div>
                        <input id="service-type" type="text" value="@serviceDetail.Type" class="mb-10" placeholder="Nhập loại dịch vụ" onfocus="suggestServiceTypes()"
                               oninput="suggestServiceTypes()" onblur="hiddenSuggest('list-service-type')" tabindex="0" aria-required="true">
                        <ul class="common_ddown" id="list-service-type" style="max-height:190px"></ul>
                        <span id="error-service-type" class="text-danger"></span>
                    </fieldset>
                    <fieldset class="workingtime">
                        <div class="body-title mb-10">Giờ làm việc <span class="tf-color-1">*</span></div>
                        <div class="select mb-10">
                            <select id="working-times" multiple="multiple">
                                @foreach (var workingTime in workingTimes)
                                {
                                    <option value="@workingTime.WorkingTimeId" selected="@(serviceDetail.WorkingTimes.Contains(workingTime.WorkingTimeId))">
                                        @workingTime.Time.ToString("HH:mm")
                                    </option>
                                }
                            </select>
                        </div>
                        <span id="error-working-times" class="text-danger"></span>
                    </fieldset>
                </div>
                <fieldset class="supdescription">
                    <div class="body-title mb-10">Mô tả phụ <span class="tf-color-1">*</span></div>
                    <div class="">
                        <input id="supdescriptionInput" class="mb-10" type="text" onkeydown="addSentence(event)" placeholder="Nhập mô tả, mỗi câu nhấn Enter để thêm..." />
                        <div id="supdescriptionContainer"></div>
                    </div>
                    <span id="error-subdescription" class="text-danger"></span>
                </fieldset>
                <fieldset>
                    <div class="body-title mb-10">Tình trạng <span class="tf-color-1">*</span></div>
                    <div class="radio-buttons">
                        <div class="item">
                            <input type="radio" id="service-true" name="service" class="service-status" value="false" checked="@(serviceDetail.IsDelete == false)">
                            <label for="service-true"><span class="body-title-2">Còn kinh doanh</span></label>
                        </div>
                        <div class="item">
                            <input type="radio" id="service-false" name="service" class="service-status" value="true" checked="@(serviceDetail.IsDelete == true)">
                            <label for="service-false"><span class="body-title-2">Ngừng kinh doanh</span></label>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="description">
                    <div class="body-title mb-10">Mô tả dịch vụ <span class="tf-color-1">*</span></div>
                    <textarea id="description" class="mb-10" placeholder="Nhập mô tả dịch vụ" tabindex="0" aria-required="true"></textarea>
                </fieldset>
            </div>
            <div class="wg-box gap-20">
                <div class="">
                    <fieldset name="upload image">
                        <div class="body-title mb-10">Tải ảnh lên <span class="tf-color-1">*</span></div>
                        <div class="upload-image mb-10">
                            <div class="item up-load">
                                <label class="uploadfile" for="image">
                                    <span class="icon">
                                        <i class="icon-upload-cloud"></i>
                                    </span>
                                    <span class="text-tiny">Thả hình ảnh của bạn vào đây hoặc <span class="tf-color">chọn đường dẫn</span></span>
                                    <input type="file" id="image" accept="image/*" onchange="uploadImages(event)" multiple>
                                </label>
                            </div>
                        </div>
                        <span id="error-images" class="text-danger"></span>
                    </fieldset>
                    <fieldset>
                        <div id="preview-image" class="upload-image">
                        </div>
                    </fieldset>
                </div>
                <div class="mt-3">
                    <fieldset class="name mb-10">
                        <div class="body-title mb-10">Loại thú cưng <span class="tf-color-1">*</span></div>
                        <div class="select mb-10" style="font-weight: 400">
                            <select class="" id="pet-type">
                                <option value="Chó">Chó</option>
                                <option value="Mèo">Mèo</option>
                            </select>
                        </div>
                    </fieldset>
                    <fieldset class="name mb-10" style="position:relative">
                        <div class="body-title mb-10">Khối lượng <span class="tf-color-1">*</span></div>
                        <input id="pet-weight" type="text" class="mb-10" placeholder="Nhập khối lượng" onfocus="suggestPetWeights()"
                               oninput="suggestPetWeights()" onblur="hiddenSuggest('list-pet-weight')" tabindex="0" aria-required="true">
                        <ul class="common_ddown" id="list-pet-weight" style="max-height:190px"></ul>
                        <span id="error-pet-weight" class="text-danger"></span>
                    </fieldset>
                    <fieldset class="name mb-10">
                        <div class="body-title mb-10">Giá dịch vụ <span class="tf-color-1">*</span></div>
                        <div class="select mb-10 flex gap22" style="align-items:center">
                            <input id="price" type="text" style="max-width: 82%" placeholder="Nhập giá dịch vụ">
                            <div style="flex: 1;text-align: center">VND</div>
                        </div>
                        <span id="error-price" class="text-danger"></span>
                    </fieldset>
                    <fieldset class="option-status mb-30 hide">
                        <div class="body-title mb-10">Tình trạng <span class="tf-color-1">*</span></div>
                        <div class="radio-buttons">
                            <div class="item">
                                <input type="radio" id="service-option-false" name="service-option" class="service-option-status" value="false">
                                <label for="service-option-false"><span class="body-title-2">Còn kinh doanh</span></label>
                            </div>
                            <div class="item">
                                <input type="radio" id="service-option-true" name="service-option" class="service-option-status" value="true">
                                <label for="service-option-true"><span class="body-title-2">Ngừng kinh doanh</span></label>
                            </div>
                        </div>
                    </fieldset>
                    <div style="font-size: 11px; color:red;margin-bottom: 10px">*Lưu ý: Bạn cần thêm các tùy chọn của dịch vụ trước khi bạn có thể lưu dịch vụ</div>
                    <div class="cols gap10">
                        <button class="tf-button w-full" type="button" id="btn-add-option" onclick="addServicOption()">Thêm Tùy Chọn Dịch Vụ</button>
                        <button class="tf-button style-1 w-full" type="button" id="btn-save-service" onclick="saveService()">Lưu Dịch Vụ</button>
                    </div>
                </div>
                <div style="max-height: 155px; overflow-x: auto">
                    <ul id="list-service-option">
                    </ul>
                </div>
            </div>
        </form>
        <!-- /form-add-product -->
    </div>
    <!-- /main-content-wrap -->
</div>
<!-- Product Thumbnail Tab Content Start -->
<div class="tab-content thumb-content">
    <div style="padding: 0px 15px">
        <!-- Reviews Start -->
        <div class="wg-box h-full gap15" style="max-height: 350px; overflow-y: auto; padding: 30px 10px 5px 30px;">
            <div class="row" style="margin: 0px">
                <div class="col-12 mb-20">
                    <div class="shop-item gap20">
                        <div class="flex-grow flex justify-between gap20" style="">
                            <div style="width: 7%; font-weight: 600;" class="body-text">ID</div>
                            <div style="width: 13%; font-weight: 600;" class="body-text">Loại thú cưng</div>
                            <div style="width: 13%; font-weight: 600;" class="body-text">Cân nặng</div>
                            <div style="width: 13%; font-weight: 600;" class="body-text">Giá</div>
                            <div style="width: 15%; font-weight: 600;" class="body-text">Lượt đặt lịch</div>
                            <div style="width: 15%; font-weight: 600;" class="body-text">Lượt thanh toán</div>
                            <div style="width: 15%; font-weight: 600;" class="body-text">Trạng thái</div>
                            <div style="width: 4%; font-weight: 600;" class="body-text">Sửa</div>
                        </div>
                    </div>
                </div>
            </div>
            @foreach (var so in serviceOptions)
            {
                <div class="row" style="margin: 0px">
                    <div class="col-12 mb-20">
                        <div class="shop-item gap20">
                            <div class="flex-grow flex justify-between gap20" id="row-@so.ServiceOptionId">
                                <div style="width: 7%" class="body-text">#@so.ServiceOptionId</div>
                                <div style="width: 13%" class="body-text column-pet-type">@so.PetType</div>
                                <div style="width: 13%" class="body-text column-pet-weight">@so.Weight</div>
                                <div style="width: 13%" class="body-text column-price">@so.Price.ToString("#,###") VND</div>
                                <div style="width: 15%" class="body-text">@so.OrderedQuantity đã đặt lịch</div>
                                <div style="width: 15%" class="body-text">@so.UsedQuantity đã thanh toán</div>
                                <div style="width: 15%" class="body-text column-status @((so.IsDelete) ? "block-not-available" : "block-available")">@((so.IsDelete) ? "Ngừng kinh doanh" : "Còn kinh doanh")</div>
                                <div style="width: 4%" class="body-text">
                                    <a class="item edit cursor-pointer" onclick='updateServicOption(@so.ServiceOptionId)'>
                                        <i class="icon-edit-3"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <!-- Reviews End -->
        </div>
    </div>
</div>
<!-- Product Thumbnail Tab Content End -->
@section ScriptOptional {
    <script>
        let listServiceType = @Html.Raw(Json.Serialize(serviceTypes));
        let listPetWeight = @Html.Raw(Json.Serialize(weights));
        let isValidService = true;
        let isValidServiceOption = true;
        let currentServiceOptionId;
        let service = {
            serviceId: '',
            name: '',
            type: '',
            workingTimes: [],
            subdescription: '',
            description: '',
            isDelete: '',
            images: [],
            serviceOptions: []
        }

        let listUpdateServiceOption = [];
        let listAddServiceOption = [];

        $(document).ready(function () {
            bootstrapMultiselectInitial();
            tinyCloudInitial();
            subdescriptionContainerInitial();
            imageInitial();
            serviceOptionsInitial();
        });

        function subdescriptionContainerInitial() {
            let subdesc = @Html.Raw(Json.Serialize(serviceDetail.Subdescription));
            let container = document.getElementById("supdescriptionContainer");
            $(subdesc).children('li').each(function () {
                let div = document.createElement('div');
                div.className = 'subdescription-tag';
                div.textContent = $(this).text().trim();

                let removeBtn = document.createElement('button');
                removeBtn.textContent = 'x';
                removeBtn.addEventListener('click', function () {
                    container.removeChild(div);
                    updateSupdescription();
                });

                div.appendChild(removeBtn);
                container.appendChild(div);
            });
            updateSupdescription();
        }

        function tinyCloudInitial() {
            tinymce.init({
                selector: '#description',
                plugins: 'lists link',
                toolbar: 'bold italic underline | align | link numlist bullist | removeformat',
                menubar: false,
                setup: function (editor) {
                    editor.on('init', function () {
                        editor.setContent('@Html.Raw(serviceDetail.Description.Replace("\n", "\\n").Replace("\r", "\\r"))');
                    });

                    editor.on('change', function () {
                        service.description = editor.getContent();
                    });

                    editor.on('input', function () {
                        service.description = editor.getContent();
                    });
                }
            });

            service.description = '@Html.Raw(serviceDetail.Description.Replace("\n", "\\n").Replace("\r", "\\r"))';
        }

        function imageInitial() {
            let listImageUrl = @Html.Raw(Json.Serialize(serviceDetail.Images));
            let previewContainer = document.getElementById('preview-image');

            for (let imageUrl of listImageUrl) {
                let div = document.createElement('div');
                div.className = 'item';

                let img = document.createElement('img');
                img.src = imageUrl;
                div.appendChild(img);

                let removeBtn = document.createElement('button');
                removeBtn.className = 'btn-remove';
                removeBtn.innerHTML = '<i class="icon-x-circle"></i>';
                removeBtn.onclick = function () {
                    previewContainer.removeChild(div);
                    updateListImage();
                    $("#image").val('');
                }

                div.appendChild(removeBtn);
                previewContainer.appendChild(div);
            }

            updateListImage();
        }

        function serviceOptionsInitial() {
            let listServiceOption = @Html.Raw(Json.Serialize(serviceOptions));
            listUpdateServiceOption = listServiceOption.map(option => ({
                serviceOptionId: option.serviceOptionId,
                serviceId: option.serviceId,
                petType: option.petType,
                weight: option.weight,
                price: option.price,
                isDelete: option.isDelete,
            }));

            service.serviceOptions = listUpdateServiceOption;
        }

        /* Service Options */
        function addServicOption() {
            isValidServiceOption = true;
            validationOfServiceOption('create');

            if (isValidServiceOption) {
                let serviceOptionContainer = $("#list-service-option");
                let petType = $("#pet-type").val();
                let petWeight = $("#pet-weight").val().trim();
                let price = Number($("#price").val().trim());

                let newOption = `<li style="border-radius:12px; padding: 5px 10px; position: relative">
                                <div class="gap15" style="align-items: center; height: 50px; width: 100%; display: flex">
                                    <div style="width: 34%" class="text-tiny pet-type" data-type="${petType}">Loại: <span class="tf-color">${petType}</span></div>
                                    <div style="width: 34%" class="text-tiny pet-weight" data-weight="${petWeight}">Khối lượng: <span class="tf-color">${petWeight}</span></div>
                                    <div style="width: 25%" class="text-tiny price" data-price="${price}">Giá: <span class="tf-color">${price}</span> đ</div>
                                </div>
                                <button class="btn-remove"><i class="icon-x-circle"></i></button>
                            </li>`;
                serviceOptionContainer.append(newOption);
                attachEventForRemoveBtn();
                updateListServiceOption();
            }
        }

        function attachEventForRemoveBtn() {
            $("#list-service-option").on("click", ".btn-remove", function () {
                $(this).closest("li").remove();
                updateListServiceOption();
            });
        }

        function updateListServiceOption(action) {
            let serviceOptions = document.getElementById('list-service-option').getElementsByTagName('li');
            let list = [];

            for (let option of serviceOptions) {
                let serviceOption = {
                    serviceId: '',
                    petType: '',
                    weight: '',
                    price: '',
                    isDelete: '',
                }
                serviceOption.serviceId = document.getElementById('serviceId').value;
                serviceOption.petType = option.getElementsByClassName("pet-type")[0].dataset.type;
                serviceOption.weight = option.getElementsByClassName("pet-weight")[0].dataset.weight;
                serviceOption.price = option.getElementsByClassName("price")[0].dataset.price;
                serviceOption.isDelete = false;

                list.push(serviceOption);
            }
            listAddServiceOption = list;
            service.serviceOptions = listUpdateServiceOption.concat(listAddServiceOption);
        }

        function updateServicOption(serviceOptionId) {
            console.log(serviceOptionId);
            let option = listUpdateServiceOption.find(op => op.serviceOptionId === serviceOptionId);
            $("#pet-type").val(option.petType);
            $("#pet-weight").val(option.weight);
            $("#price").val(option.price);
            $(".option-status").removeClass("hide");
            if (option.isDelete === 'true' || option.isDelete === true) {
                $("#service-option-true").prop("checked", true);
            } else {
                $("#service-option-false").prop("checked", true);
            }
            $("#btn-add-option").text("Lưu Thay Đổi Tùy Chọn").attr("onclick", "saveChangeServiceOption(" + option.serviceOptionId + ")");
            $("#btn-save-service").text("Hủy Thay Đổi").attr("onclick", "cancelChangeServiceOption()");
            window.scrollTo(0, 350);

            $("#error-price").text('');
            $("#error-pet-weight").text('');
        }

        function cancelChangeServiceOption() {
            $("#pet-type").val('Chó');
            $("#pet-weight").val('');
            $("#price").val('');
            $(".option-status").addClass("hide");
            $("#btn-add-option").text("Thêm Tùy Chọn Dịch Vụ").attr("onclick", "addServicOption()");
            $("#btn-save-service").text("Lưu Dịch Vụ").attr("onclick", "saveService()");

            $("#error-price").text('');
            $("#error-pet-weight").text('');
        }

        function saveChangeServiceOption(serviceOptionId) {
            isValidServiceOption = true;
            currentServiceOptionId = serviceOptionId;
            validationOfServiceOption('update');

            if (isValidServiceOption) {
                let temptServiceOption;
                for (let serviceOption of listUpdateServiceOption) {
                    if (serviceOption.serviceOptionId === currentServiceOptionId) {
                        serviceOption.petType = $("#pet-type").val().trim();
                        serviceOption.weight = $("#pet-weight").val().trim();
                        serviceOption.price = Number($("#price").val().trim());
                        serviceOption.isDelete = $(".radio-buttons").find(".service-option-status:checked").val();
                        temptServiceOption = serviceOption;
                        break;
                    }
                }
                service.serviceOptions = listUpdateServiceOption.concat(listAddServiceOption);

                let row = $("#row-" + currentServiceOptionId);
                row.find(".column-pet-type").text(temptServiceOption.petType);
                row.find(".column-pet-weight").text(temptServiceOption.weight);
                row.find(".column-price").text(temptServiceOption.price.toLocaleString('en-US') + ' VND');
                let colStatus = row.find(".column-status");
                colStatus.hasClass("block-available") ? colStatus.removeClass("block-available") : colStatus.removeClass("block-not-available");
                if (temptServiceOption.isDelete === 'false') {
                    colStatus.text("Còn kinh doanh").addClass("block-available");
                }else{
                    colStatus.text("Ngừng kinh doanh").addClass("block-not-available");
                }

                $("#pet-type").val('Chó');
                $("#pet-weight").val('');
                $("#price").val('');
                $(".option-status").addClass("hide");
                $("#btn-add-option").text("Thêm Tùy Chọn Dịch Vụ").attr("onclick", "addServicOption()");
                $("#btn-save-service").text("Lưu Dịch Vụ").attr("onclick", "saveService()");
            }
        }

        /* Service */
        function saveService() {
            isValidService = true;
            validationOfService('update');

            // console.log("id: ", service.serviceId);
            // console.log("name: ", service.name);
            // console.log("type: ", service.type);
            // console.log("time: ", service.workingTimes);
            // console.log("status: ", service.isDelete);
            // console.log("subdes: ", service.subdescription);
            // console.log("desc: ", service.description);
            // console.log("image: ", service.images);
            console.log("service: ", service.serviceOptions);

            if (isValidService) {
                $.ajax({
                    type: 'POST',
                    url: '/Admin/Service/Update',
                    data: { serviceAddition: service },

                    success: function (response) {
                        console.log(response.serviceId);
                        window.location.href = "/Admin/Service/Detail/" + response.serviceId;
                    },

                    error: function (xhr, status, error) {
                        console.error('The request failed!', status, error);
                    }
                });
            };
        }
    </script>
    <script src="~/areas/js/manage-service.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
}
