@using PetStoreProject.Areas.Admin.ViewModels
@using X.PagedList.Mvc.Core
@using X.PagedList

@model IPagedList<PetStoreProject.Areas.Admin.ViewModels.PromotionViewModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Chương trình khuyến mại";
    var promotions = ViewData["Promotions"] as List<PromotionViewModel>;
}
@section HeadOptional {
    <style>
        .wg-table.table-all-category .product-item > .flex > div {
            width: 0;
        }

        .wg-table .table-title {
            justify-content: normal;
        }

        .wg-table.table-all-category > * {
            min-width: 1310px;
        }

        .pagination {
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;
            justify-content: center;
        }

            .pagination li {
                margin: 0 5px;
            }

            .pagination a, .pagination span {
                color: #007bff;
                text-decoration: none;
                border: 1px solid #dee2e6;
                padding: 8px 12px;
                border-radius: 4px;
                transition: background-color 0.3s;
            }

                .pagination a:hover {
                    background-color: #e9ecef;
                }

            .pagination .active span {
                background-color: #007bff;
                color: white;
                border-color: #007bff;
            }

    </style>
}
<div class="main-content-inner">
    <!-- main-content-wrap -->
    <div class="main-content-wrap">
        <div class="flex items-center flex-wrap gap20 mb-27">
            <h3>Danh sách chương trình khuyến mại</h3>
        </div>
        <!-- form-add-product -->
        <div class="wg-box">
            @if (Model != null)
            {
                <div class="wg-table table-all-category" style="width: 100%">
                    <ul class="table-title flex gap20 mb-14" style="width: 100%">
                        <li style="width: 30px">
                            <div style="width: 30px" class="body-title">STT</div>
                        </li>
                        <li style="width: 150px">
                            <div style="width: 150px" class="body-title">Tên chương trình</div>
                        </li>
                        <li style="width: 70px">
                            <div style="width: 70px" class="body-title">Giảm giá</div>
                        </li>
                        <li style="width: 180px">
                            <div style="width: 180px" class="body-title">Thời gian</div>
                        </li>
                        <li style="width: 120px">
                            <div style="width: 120px" class="body-title">Thương hiệu</div>
                        </li>
                        <li style="width: 180px">
                            <div style="width: 180px" class="body-title">Danh mục</div>
                        </li>
                        <li style="width: 200px">
                            <div class="body-title" style="width: 200px">Ngày tạo</div>
                        </li>
                        <li style="width: 130px">
                            <div class="body-title" style="width: 130px">Trạng thái</div>
                        </li>
                    </ul>
                    <ul class="flex flex-column" id="list-category" style="width: 100%">
                        @{
                            var index = 1;
                        }
                        @foreach (var item in Model)
                        {
                            <li class="product-item gap14 promotion-@item.Id">
                                <div class="flex items-center gap20 flex-grow">
                                    <div class="name" style="width: 30px">
                                        @index
                                    </div>

                                    <div class="body-text" style="width: 150px">@item.Name</div>
                                    <div class="body-text" style="width: 70px">@((int)item.Value + "%")</div>
                                    <div class="body-text" style="width: 180px">@item.StartDate - @item.EndDate</div>
                                    <div class="body-text" style="width: 120px">@item.Brand.Name</div>
                                    <div class="body-text" style="width: 180px">@item.ProductCategory.Name</div>
                                    <div class="body-text" style="width: 200px">@item.CreatedAt</div>
                                    <div class="body-text status @(item.Status == true ? "block-available" : "block-not-available")" style="width: 130px">@item.StatusString</div>
                                    <div class="body-text list-icon-function" style="width: 40px; cursor: pointer">
                                       
                                    </div>
                                </div>
                            </li>
                            index += 1;
                        }
                    </ul>
                </div>
                <div class="pagination-blog">
                    @Html.PagedListPager(Model, page => Url.Action("list", new { page, pagesize = 10 }))
                </div>
            }
            else
            {
                <div class="empty-order-history hidden">
                    <i class="fas fa-box-open"></i>
                    <h6>Trống</h6>
                </div>
            }

        </div>
    </div>
</div>